:root {
--text: #05010e;
--background: #ddd0fb;
--primary: #3f0dab;
--darker: #350c8d;
--secondary: #ddd0fb;
--accent: #5712ed;
--trans: #5712ed2a;
}

*{
  margin: 0;
  padding: 0;
}


body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  font-family: 'Cabin', sans-serif;
}


.App {
  /* display: flex;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
  /* flex-direction: column;
    */
  min-height: 100%;
  margin-bottom: -50px;
}

.header {
  text-align: center;
  font-family: 'Bungee', cursive;
  background-color: var(--accent);
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}


.room-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.room label{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room-form input{
  width: 200px;
  height: 30px;
  border: 2px solid var(--accent);
  border-radius: 6px;
  padding-left: 5px;
  /* font-size: 14px; */
  margin: 5px;
  text-align: center;
}

.room-form select{
  width: 200px;
  height: 30px;
  border: 2px solid var(--accent);
  border-radius: 6px;
  padding-left: 5px;
  /* font-size: 14px; */
  text-align: center;
  margin: 5px;
}

.room-form-pass {
  text-align: center;
}

.room-form button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  /* font-size: 20px; */
  text-align: center;
  margin: 5px;
  background-color: var(--accent);
  color: white;
  cursor: pointer; 
}

.room-form button:hover {
  background-color: var(--darker);
  color: var(--background);
  cursor: pointer; 
}

.signout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.signout-btn {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  /* font-size: 20px; */
  text-align: center;
  margin: 5px;
  background-color: var(--trans);
  color: var(--accent);
  border: 2px solid var(--accent);
  cursor: pointer; 
}

.signout-btn:hover {
  background-color: var(--darker);
  color: var(--background);
  border: 2px solid var(--accent);
  cursor: pointer; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  /* background-color: var(--trans); */
  padding: 15px;
  color: var(--darker);
  text-align: center;
  border-bottom: 5px solid var(--accent);
}

.footer a{ 
  text-decoration: none;
  color: var(--darker);
}

