body {
  padding: 0;
  margin: 0;
  background-color: rgb(246, 245, 245);
  font-family: 'Cabin', sans-serif;
}

button {
  font-family: 'Cabin', sans-serif;
}


.App {
  display: flex;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
  flex-direction: column;
}

.header {
  text-align: center;
  font-family: 'Bungee', cursive;
  background-color: orange;
  margin: 0;
  padding: 0;
}


.room {
  display: flex;
  flex-direction: column;
}

.room label{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room-form input{
  width: 200px;
  height: 30px;
  border: 2px solid lightblue;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.room-form select{
  width: 200px;
  height: 30px;
  border: 2px solid lightblue;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.room-form button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: lightblue;
  color: white;
  cursor: pointer; 
}

.signout-btn {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: rgb(45, 70, 79);
  color: white;
  cursor: pointer; 
}

