:root {
    --text: #05010e;
    --background: #ddd0fb;
    --primary: #3f0dab;
    --darker: #350c8d;
    --secondary: #ddd0fb;
    --accent: #5712ed;
    --trans: #5712ed2a;
    }
    



.auth-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2px;

}


.auth-header {
    font-family: 'Bungee', cursive;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width:50%;
    padding: 15px;
    margin-top: -100px;
}

.auth-form label {
    margin-top: 15px;
    
}

.auth-form input {
    height: 30px;
    border: 2px solid var(--accent);
    border-radius: 6px;
    padding-left: 5px;
    /* font-size: 20px; */
    margin: 5px;
}


.auth-options{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}




.login-btn {
    width: 100%;
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 5px;
    margin-top: 25px;
    border-radius: 15px;
}

.login-btn:hover {
    background-color: var(--primary);
    color: white;
}


.auth-options button {
    background-color: var(--darker);
    color: white;
    border: none;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.auth-options .active {
    background-color: var(--trans);
    color: var(--text);
}