:root {
    --text: #05010e;
    --background: #ddd0fb;
    --primary: #3f0dab;
    --darker: #350c8d;
    --secondary: #ddd0fb;
    --accent: #5712ed;
    --trans: #5712ed2a;
    }
    



.auth-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2px;
}




.auth-form {
    display: flex;
    flex-direction: column;
    width:50%;
    padding: 15px;
    margin-top: 50px;
    border: 2px solid var(--darker);
    border-radius: 5px;
    background-color: var(--backgroun);
    box-shadow: rgba(9, 30, 66, 0.4) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.auth-header {
    font-family: 'Bungee', cursive;
    color: var(--accent);
    text-align: center;
}

.auth-form label {
    margin-top: 15px;  
    padding-left: 5px;
}

.auth-form input {
    height: 30px;
    border: 2px solid var(--accent);
    border-radius: 6px;
    padding-left: 5px;
    /* font-size: 20px; */
    margin: 5px;
}


.auth-options{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}




.login-btn {
    width: 100%;
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 5px;
    margin-top: 25px;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: var(--primary);
    color: white;
}


.auth-options button {
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-bottom: none;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.auth-options button:hover {
    background-color: var(--accent);
    color: var(--background);
}


.auth-options .active {
    color: var(--text);
    border-bottom: 5px solid var(--accent);
}

.auth-error{
    text-align: center;
    color: rgb(243, 46, 82);
}

